<h1><%= t ".title" %></h1>

<table>
  <thead>
    <tr>
      <th><%= sortFunction "name", (t ".type") %></th>
      <th><%= sortFunction "color", (t ".color") %></th>
      <th><%= sortFunction "size", (t ".size") %></th>
      <th><%= sortFunction "price", (t ".price") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pumpkins.each do |pumpkin| %>
      <tr>
        <td><%= pumpkin.name %></td>
        <td><%= pumpkin.color %></td>
        <td><%= pumpkin.size %></td>
        <td><%= pumpkin.price %></td>
        <td><%= link_to 'Show', pumpkin %></td>
        <td><%= link_to 'Edit', edit_pumpkin_path(pumpkin) %></td>
        <td><%= link_to 'Destroy', pumpkin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pumpkin', new_pumpkin_path %>
