<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <% @customer = Customer.find(@order.customer_id)%>
  <%= @customer.name %>


</p>

<p>
  <strong>Placed on:</strong>
  <%= @order.placed_on %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Name</th>
      <th>Size</th>
      
      <th colspan="4"></th>
    </tr>
  </thead>
  <% @line_items=LineItem.where(:order_id => @order.id)%>
  <tbody>
    <% @line_items.each do |item| %>
      <tr>
        <td><%= item.amount %></td>
        <td><%= item.pumpkin.name %></td>
        <td><%= item.pumpkin.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
