<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <% @customer = Customer.find(@order.customer_id)%>
  <%= @customer.name %>

</p>
<% @line_item.each do |item| %>
  <tr>
    <td><%= item.empty? %></td>
    <td><%= item.attribute_for_inspect(:orders_id) %></td>
    <td><%= item.attribute_for_inspect(:pumpkins_id) %></td>
    <td><%= item.attribute_for_inspect(:amount) %></td>
    <% end %>
<p>
  <strong>Placed on:</strong>
  <%= @order.placed_on %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
